/****start default theme****/
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover,  
.dropdown-menu > li > a:focus,
.carousel-indicators .active,
.option-box .cog-check
{
    background-color: #b00c09;
}

.navbar-inverse .navbar-brand span,
.about h1 span,
.testmonials span,
.footer h3,
.footer .copyright span
{
    color: #b00c09;
}
.option-box .color-option,
.testmonials .carousel-indicators li.active
{
    border: 3px solid #b00c09;
}
.dropdown-menu
{
    border-top: 3px solid #b00c09;
}
/****end default theme****/